WCFTestConsoleApplication/Service References/JokeServiceWCF/JokeServiceWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62644/JokeServiceWCF.svc?xsd=xsd2" namespace="test" />
  <xs:element name="GetJoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jokeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="test" minOccurs="0" name="GetJokeResult" nillable="true" type="q1:Joke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJokes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJokesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="test" minOccurs="0" name="GetAllJokesResult" nillable="true" type="q2:ArrayOfJoke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="test" minOccurs="0" name="joke" nillable="true" type="q3:Joke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddJokeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="test" minOccurs="0" name="joke" nillable="true" type="q4:Joke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJokeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jokeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJokeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>