WCFTestConsoleApplication/Service References/JokeServiceWCF/JokeServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Joke">
    <xs:sequence>
      <xs:element minOccurs="0" name="JokeId" type="xs:int" />
      <xs:element minOccurs="0" name="JokeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Joke" nillable="true" type="Joke" />
  <xs:complexType name="ArrayOfJoke">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Joke" nillable="true" type="Joke" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoke" nillable="true" type="ArrayOfJoke" />
</xs:schema>