WCFTestConsoleApplication/Service References/JokeServiceWCF/JokeServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="test" elementFormDefault="qualified" targetNamespace="test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Joke">
    <xs:sequence>
      <xs:element minOccurs="0" name="jokeId" type="xs:int" />
      <xs:element minOccurs="0" name="jokeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Joke" nillable="true" type="tns:Joke" />
  <xs:complexType name="ArrayOfJoke">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Joke" nillable="true" type="tns:Joke" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoke" nillable="true" type="tns:ArrayOfJoke" />
</xs:schema>